---
# **Day 2 - 6 Jun 2023** - Uday Pratap Singh Atwal
---

# 1. Python Assignment - "Assignment - Basics of Python.pdf"

## Question 1

### Part (i) - WAP to add 50 and 60 to L

In [1]:

L = [11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

### Part (ii) - WAP to remove 11 and 13 from L.

In [2]:
#del L[0] #instead of running del L[0] twice, we can use remove() function

if 11 in L:
    L.remove(11)
if 12 in L:
    L.remove(12)
print(L)

[13, 14, 50, 60]

### Part (iii) WAP to sort L in ascending order

In [18]:
L.sort() #sorts the list in ascending order
print(L)

[13, 14, 50, 60]

### (iv) WAP to sort L in descending order.

In [19]:
L.sort(reverse=True) #sorts the list in descending order
print(L)

[60, 50, 14, 13]

### (v) WAP to search for 13 in L.

In [20]:
print("Finding if 13 is in the list: ", 13 in L)

Finding if 13 is in the list:  True

### (vi) WAP to count the number of elements present in L.

In [25]:
print(len(L))
print(L)

4
[60, 50, 14, 13]

### (vii) WAP to sum all the elements in L

In [7]:
print(L)
sum(L)

[13, 14, 50, 60]

137

### (viii)  WAP to sum all ODD numbers in L

In [6]:
for i in range(len(L)):
    sum(L[i+1])

TypeError: 'int' object is not iterable